<page-header [title]="'编辑Api资源'" [breadcrumb]="breadcrumb" [tab]="tab">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a href="#">首页</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>资源管理</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a href="#/resource/api">Api资源</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>编辑</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>

<ng-template #tab>
  <nz-tabset>
    <nz-tab nzTitle="基本">
      <sf #basic [schema]="basicSchema" [loading]="loadingBasic" [formData]="resource" (formSubmit)="submit($event)">
      </sf>
    </nz-tab>
  </nz-tabset>
</ng-template>
