<page-header [title]="'身份资源'"></page-header>
<nz-card [nzBordered]="false">
  <button nz-button (click)="add(modalContent)" [nzType]="'primary'">
    <i nz-icon nzType="plus"></i>
    <span>新建</span>
  </button>
  <st [data]="resources" [loading]="loading" [columns]="columns" [expand]="expand" expandRowByClick expandAccordion>
    <ng-template #expand let-item let-index="index" let-column="column">
      {{ item.description }}
    </ng-template>
  </st>
</nz-card>
<ng-template #modalContent>
  <nz-form-item>
    <nz-form-label nzFor="no">描述</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="description" name="description" placeholder="请输入" id="no" />
    </nz-form-control>
  </nz-form-item>
</ng-template>
